@import "tailwindcss";

:root {
  --background: #0f0f0f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  ::-webkit-scrollbar {
    width: 10px; 
  }

  ::-webkit-scrollbar-track {
    background: transparent; 
  }

  ::-webkit-scrollbar-thumb {
    background: #3f3f46; 
    border-radius: 10px;
    border: 2px solid transparent; 
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #52525b; 
    background-clip: content-box;
  }

  
  * {
    scrollbar-width: thin;
    scrollbar-color: #3f3f46 transparent;
  }
}